.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  width: 80rem
}

.description {
  
  text-justify:justify;
}

@media (max-width: 700px) {
  .container {
    display: grid;
    justify-content: space-around;
  }
  .container div {
    width: 100%;
  }
}