:root {
  --color-blanco: #ffffff;
  --color-negro: #000000;
  --alto-imagen: 17rem;
  --hover-filtro: blur(2px);
}

.gallery-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

.location-card {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
  width: 100%;
  height: var(--alto-imagen);
}

.location-title {
  font-size: 1em;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
  color: var(--color-blanco);
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}
