/* Definir variables */
:root {
  --color-blanco: #FFFFFF;
  --color-negro: #000000;
  --alto-imagen: 17rem;
  --hover-filtro: blur(2px);
}

/* Contenedor de la galería */
.gallery-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

/* Tarjeta de ubicación */
.location-card {
  position: relative;
}

/* Imagen de ubicación */
.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
  width: 100%; /* necesitamos sobrescribir las dimensiones en línea */
  height: var(--alto-imagen);
}

/* Título de la ubicación */
.location-title {
  font-size: 1em;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  color: var(--color-blanco);
  text-align: center;
  
  /* Centra el texto vertical y horizontalmente */
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Comentarios */
/* Define variables CSS */
/* Contenedor de la galería */
/* Tarjeta de ubicación */
/* Imagen de ubicación */
/* T